In [1]:
import pandas as pd

In [2]:
import os

In [3]:
import csv

In [4]:
csvpath = os.path.join("election_data.csv")

with open(csvpath) as csvfile:
    csvreader = csv.reader(csvfile, delimiter = ",")
    csv_headers = next(csvreader)

In [5]:
csv_headers

['Ballot ID', 'County', 'Candidate']

In [6]:
print(csv_headers)

['Ballot ID', 'County', 'Candidate']

In [7]:
print(csv_headers[0])

Ballot ID

In [8]:
df = pd.read_csv("election_data.csv")

In [9]:
df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [10]:
row_count, column_count = df.shape
print("number of rows (votes): ", row_count)
print("number of columns: ", column_count)

number of rows (votes):  369711
number of columns:  3

### The total number of votes cast

In [11]:
print(row_count)

369711

### A complete list of candidates who received votes

In [12]:
df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [13]:
#df.set_index("Candidate", inplace=True)

In [14]:
df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [15]:
df.count()

Ballot ID    369711
County       369711
Candidate    369711
dtype: int64

In [18]:
df.dtypes

Ballot ID     int64
County       object
Candidate    object
dtype: object

In [ ]:
len()

# Results

In [16]:
print("Election Results")
print("-------------------------")
print("Total Votes: " + str(row_count))
print("-------------------------")
print("Charles Casper Stockham: ")
print("Diana DeGette: ")
print("Raymon Anthony Doane: ")
print("-------------------------")
print("Winner: ")
print("-------------------------")

Election Results
-------------------------
Total Votes: 369711
-------------------------
Charles Casper Stockham:
Diana DeGette:
Raymon Anthony Doane:
-------------------------
Winner:
-------------------------

## Writing results to PyPoll_SJS.txt